@font-face {
	font-family: 'Open Sans';
	src: url('open_sans.ttf') format('truetype');
 	src: url('open_sans.eot') format('eot');
}

body,p {
font-family: 'Open Sans', sans-serif;
display:unset;
}
.filter {
	display:inline-flex;
	flex-wrap:wrap;
}


.demo-placeholder {
	width: 500px;
	height: 450px;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}
.panel {
	background-color:#dddddd;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 8px;
	padding:10px;
	border: solid 0px;
	border-radius:5px;
	position:relative;
	display: block;
	min-width: 40px;
	height:100px;

}
#result > div {

	margin: 50px;


}

.panel button {
		display:initial;
		background-image: url('Close3.png');
		background-repeat:no-repeat;
		border:none;
		position:absolute;
		top:2px;
		right:2px;
		width:18px;
		height:18px;

	}

.param {

	width:150px;
}

.logic {
	line-height :100px;
	text-align:center;
			font-size:30px;
}
 
.highlight {
    border: 1px solid red;
    font-weight: bold;
    font-size: 45px;
    background-color: lightblue;
}

.button_panel {
margin:5px;
}

.button_panel button {
	border:none;
	margin:5px;
	line-height:30px;
	min-width:50px;
}
#buttons {
	display: flex;
    justify-content: space-between;

}
.main {
display:flex;
flex-direction:column;   
padding: 20px;
}