
@{
	ViewBag.Title = "Index";
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script src="~/Resources/jquery-3.2.1.min.js"></script>
	<script src="~/Resources/jquery-ui.min.js"></script>
	<link href="~/Resources/test.css" rel="stylesheet" />
	<link href="~/Resources/jquery-ui.min.css" rel="stylesheet" />
	<script src="~/Resources/jquery.flot.min.js"></script>
	<script src="~/Resources/jquery.flot.resize.min.js"></script>
	<script src="~/Resources/jquery.flot.dashes.js"></script>
	<script src="~/Resources/jquery.flot.navigate.js"></script>
	<script src="~/Resources/jquery.flot.tickrotor.js"></script>
	<script src="~/Resources/Test.js"></script>

</head>
<body>
	<div id="hiddenHtml" style="display:none;">
		<div id="table">
			<div class="caption">
				Компетенция:
			</div>
			<div class="caption">
				@Html.DropDownList("Competences", ViewBag.Competences as SelectList)
			</div>
			<div class="row">
				<div class="cell">Значение:</div>
				<div class="cell">Отклонение:</div>
			</div>
			<div class="row">
				<div class="cell">
					> <input onchange="change_panel_mark(this);" name="Mark" type="number" min="0" max="100" step="1" value="0" />
				</div>
				<div class="cell">
					- <input type="number" name="Deflection" min="0" max="100" step="1" value="0" />
				</div>
			</div>
		</div>
	</div>
	<div id="waiter"></div>

	<div class="main">
		<div id="buttons">
			<div id="button_panel" class="filter button_panel">
				<a id="add_button" val="+"> ДОБАВИТЬ </a>
				<a id="and_button" val="&"> И </a>
				<a id="or_button" val="|"> ИЛИ </a>
				<a id="not_button" val="!"> НЕ </a>
				<a id="left_bracket" val="(">  (  </a>
				<a id="right_bracket" val=")">  )  </a>
			</div>
			<div class="filter button_panel">
				<a id="search_button"> ПОИСК </a>
				<a id="del_button" class="del"></a>
			</div>
		</div>
		<div id="editor" class="filter"></div>
		<div id="errors" class=""></div>
		<div id="list" class=""></div>
		<div id="result" class="filter"></div>
	</div>
</body>
</html>
