
@{
	ViewBag.Title = "Index";
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script src="~/Resources/jquery-3.2.1.min.js"></script>
	<script src="~/Resources/jquery-ui.min.js"></script>
	<link href="~/Resources/test.css" rel="stylesheet" />
	<link href="~/Resources/jquery-ui.min.css" rel="stylesheet" />
	<script src="~/Resources/jquery.flot.min.js"></script>
	<script src="~/Resources/jquery.flot.resize.min.js"></script>
	<script src="~/Resources/jquery.flot.dashes.js"></script>
	<script src="~/Resources/jquery.flot.navigate.js"></script>
	<script src="~/Resources/jquery.flot.tickrotor.js"></script>
	<script src="~/Resources/Test.js"></script>

</head>
<body>
	<div id="hiddenHtml" style="display:none;">
		<div id="table">
			<div class="caption">
				Компетенция:
			</div>
			<div class="caption">
				@Html.DropDownList("Competences", ViewBag.Competences as SelectList)
			</div>
			<div class="row">
				<div class="cell">Значение:</div>
				<div class="cell">Отклонение:</div>
			</div>
			<div class="row">
				<div class="cell">
					> <input onchange="change_panel_mark(this);" name="Mark" type="number" min="0" max="100" step="1" value="0" />
				</div>
				<div class="cell">
					- <input type="number" name="Deflection" min="0" max="100" step="1" value="0" />
				</div>
			</div>
		</div>
	</div>
	<div id="waiter"></div>

	<div class="main">
		<div><h2>Поиск учащихся по компетенциям</h2></div>
		<div id="buttons">
			<div id="button_panel" class="filter button_panel">
				<a id="add_button" title="Добавление панели компетенции" val="+"> ДОБАВИТЬ </a>
				<a id="and_button" title="Добавление панели логического 'И'" val="&"> И </a>
				<a id="or_button" title="Добавление панели логического 'ИЛИ'" val="|"> ИЛИ </a>
				<a id="not_button" title="Добавление панели логического 'НЕ'" val="!"> НЕ </a>
				<a id="left_bracket" title="Добавление панели ')'" val="(">  (  </a>
				<a id="right_bracket" title="Добавление панели '('" val=")">  )  </a>
			</div>
			<div class="filter button_panel">
				<a  title="Добавление панели '('" id="search_button"> ПОИСК </a>
				<a title="Краткое руководство" id="help_button" class="help"></a>
				<a title="Очистить Поиск" id="del_button" class="del"></a>
			</div>
		</div>
		<div id="editor" class="filter"></div>
		<div id="errors" class=""></div>
		<div id="list" class=""></div>
		<div id="result" class="filter"></div>
	</div>
	<div id="help" class="help_div">
		<p>Панель управления состоит из 2 панелей: добавление блоков для создания формулы поиска и панели управления.
		Панели содержат кнопки:
		<ol>
			<li>ДОБАВИТЬ – добавление блока, для выбора необходимой компетенции. В нем так же можно настроить желаемое значение и возможное отклонение.  </li>
			<li>И, ИЛИ, НЕ – добавление блоков для логических операций с блоками компетенций. </li>
			<li>( , ) – добавление скобок для создания сложных формул поиска. </li>
			<li>ПОИСК – кнопка поиска результатов по сотавленной формуле поиска. </li>
			<li><img src="~/Resources/trash.png" />– очистка поля редактирования формулы и результов поиска. </li>
		</ol>
		</p>
		<p>Формировать формулу поиска можно путем добавления блоков с условиями по компетенциям и блоков логических операций. Для редактирования блоки можно перетаскивать и удалать, нажав на кнопку
			<img src="~/Resources/Close.png" />.</p>
		<p>
			В результате выполнения поиска отображается список учащихся подходящих по условию а так же графики оценок студентов по предметам из формулы поиска.
			График можно масштабировать колесиком мыши, и перемещаться по увеличенному графику с помощью зажатого курсора.
		</p>
		<p>
			Линия зеленого цвета отображает значение компетенции из формулы поиска, а красного –  отклонение от значения.
			Кружками обозначается оценка учащегося по кометенции. При наведении на кружок отображается точная оценка учащегося и его фамилия.
		</p> 
		<button onclick='help_hide(this)' />
	</div>
</body>
</html>
