@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

	<script src="~/Css/jquery-3.2.1.min.js"></script>	
	<script src="~/Css/jquery-ui.min.js"></script>
	<link href="~/Css/StyleSheet1.css" rel="stylesheet" />
	<link href="~/Css/jquery-ui.min.css" rel="stylesheet" />
	<script>
		var panel_close = function (sender) { sender.parentElement.remove(); };
		var change_panel_mark = function(sender)
		{
			$(sender.parentElement).find("[name='deflection']")[0].max = sender.value;
		};

		var search=function()
		{
			formula = get_function();
			error=validation(formula);
			if (error != "") {
				$("#errors").html('');
				$("#errors").append("<span style='color:red'>" + error + "</span>")
			}
			else { $("#errors").html(''); }
		}
		var get_function = function ()
		{
			var s = "";
			var divs = $("#editor div");
			for (i = 0; i < divs.length; i++) {
				if (divs[i].getAttribute("val") != "+") s += divs[i].getAttribute("val");
				else {
					comp = $(divs[i]).find("[name='competence']")[0].value;
					val = $(divs[i]).find("[name='mark']")[0].value - $(divs[i]).find("[name='deflection']")[0].value
					s += "[" + comp + ">" + val + "]";
				}
			}
			return s;
		}
		var validation=function(str)
		{
			str=str.replace(/\[(.+?)\]/g, "+");
			var error="";
			if (str.match(/\)\)|\|\||\&\&|\+\+|!!|\+!|\+\(|\&\||\&\)|\|\&|\|\)|!\&|!\||!\)|\(\&|\(\||\(\)|\)\+|\)\!|\)\(/g) != null)
			{
				error += "Ошибка: проверьте правильность функции <br/>";
			}
			if (str.match(/^[\&\|\)]/g) != null) {
				error += "Ошибка: блоки 'и','или',')' не могут стоять в начале функции<br/>";
			}
			if (str.match(/[\!\|\(\&]$/g) != null) {
				error += "Ошибка: блоки 'не','и','или','(' не могут стоять в конце функции<br/>";
			}
			if ((str.match(/\(/g) != null && str.match(/\)/g) != null && str.match(/\(/g).length != str.match(/\)/g).length) ||
				(str.match(/\(/g) != null && str.match(/\)/g) == null)||
				(str.match(/\(/g) == null && str.match(/\)/g)!=null)) {
				error += "Проверьте правильность расставления скобок <br/>";
			}
			return error;
		}
		var add_panel = function (val)
		{
			if (val == undefined) val = "+";
			else val= this.getAttribute("val");

			var style = "panel ", content;
			switch (val) {
				case "+": {
					style += "param"; content = '<p>Компетенции</p>' +
						'<select name="competence" style="width:80%" ><option>1</option><option>2</option><option>3</option>	</select>' +
						'<p>Значение</p>> <input onchange="change_panel_mark(this);" name="mark" type="number" min="0" max="100"  step="1" value="0"/>' +
						'<p>Отклонение</p>- <input type="number" name="deflection" min="0" max="100" step="1" value="0" />';
					break;
				}
				case "&": { style += "logic"; content = "и"; break; }
				case "|": { style += "logic"; content = "или"; break; }
				case "!": { style += "logic"; content = "не"; break; }
				case "(": { style += "logic"; content = "("; break; }
				case ")": { style += "logic"; content = ")"; break; }
			}

			$("#editor").append(
				"<div class='" + style + "' val='" + val+ "'>" + content + "<button onclick='panel_close(this)' /></div>");
		}
		var remove_panels=function(){$("#editor div").remove};

		$(document).ready(
	function () {
		$("#editor").sortable({
			distance: 10
		});
		$("#button_panel button").on("click", add_panel);
		$("#search_button").on("click",search );
		$("#del_button").on("click", remove_panels);

		add_panel();
	});

	</script>
</head>
<body>
	<div style="display:inline-flex;flex-direction:column">
		<div id="buttons">
			<div id="button_panel" class="filter button_panel">
			<button id="add_button" val="+"> ДОБАВИТЬ </button>
			<button id="and_button" val="&"> И </button>
			<button id="or_button" val="|"> ИЛИ </button>
			<button id="not_button" val="!"> НЕ </button>
			<button id="left_bracket" val="(">  (  </button>
			<button id="right_bracket" val=")" >  )  </button>
			</div>	
			<div class="filter button_panel">
				<button id="search_button" > Поиск </button>
				<button id="del_button" > Очистить </button>
			</div>
		</div>
		<div id="editor" class="filter"></div>
		<div id="errors" class="filter"></div>
		<div id="result" class="filter"></div>

		<div>@RenderBody()</div>

</div>
</body>
</html>*@
